# hidden files
*.obsidian
*.ipynb_checkpoints
*.DS_Store
# miscellaneous files
to_do_list.md
to_do_list_archive.md
directory_structure.txt
# folders with image data
datasets_original/
data_preprocessing/
# folders with test code
src/sample_code/
# some jupyter notebooks
jupyter_notebooks/_*.ipynb
jupyter_notebooks/_old_/
jupyter_notebooks/data/
jupyter_notebooks/images/
# folders in the src/
src/__pycache__/
src/*/__pycache__/
model_demo/__pycache__/
# model files
jupyter_notebooks/*.pt
jupyter_notebooks/*.pth
model_demo/*.pth
